// Основные цвета
$color-text-primary: #173d33; // основной текст, заголовки
$color-text-secondary: #828282; // подписи, вторичный текст
$color-text-contrast: #ffffff;

$color-bg-primary: #f3f5fa; // основной фон секций
$color-bg-secondary: #e4efe7; // фон формы / футера
$color-surface: #ffffff; // карточки, блоки

$color-brand-hover: #97d28b; // акцент бренда, кнопки
$color-brand: #b6e59e; // ховер/актив

$color-border: #d6d6d6; // линии и разделители
$color-overlay: rgba(36, 76, 62, 0.95); // моб. меню / модалки

$color-control-bg: $color-brand; // фон элементов управления
$color-control-icon: $color-text-primary; // иконки/линии в контролах

$font-weights: (
	'Regular': 400,
	'Medium': 500,
	'Bold': 700,
);

$font-families: (
	'oswald': 'Oswald',
	'fira': 'FiraSans',
);
